body {
  background-color: #DDD0C8;
  max-width: 100%;
  overflow-x: hidden;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  margin: 0;
}

body::-webkit-scrollbar{
  display: none;
}

.navbar{
  position: fixed;
  z-index: 100;
  overflow: hidden;
  border: none;
  background-color:#88B2CC;
  text-decoration: none;
  width: 100%;
  top: 0;
  padding: 5px 5px;
}

.namebutton {
  border: none;
  font-size: 20px;
  margin: 0px 5px;
  float: left;
  font-weight: bold;
  text-decoration: none;
  background-color: #88B2CC;
  color: #323232;
  text-shadow: 1px 1px white;
}

.navbarbutton {
  border: none;
  font-size: 20px;
  margin: 0px 5px;
  float: right;
  font-weight: bold;
  text-decoration: none;
  background-color: #88B2CC;
  color: #323232;
  text-shadow: 1px 1px white;
  cursor: pointer;
}

.navbarbutton:hover {
  color: #323232;
  text-shadow: 1px 1px white;
}

* {
  box-sizing: border-box;
}


/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

[class*="col-"] {
  float: left;
  padding: 15px;

  /*border: 1px solid red;*/
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.profilephoto {
  background-color: #323232;
  box-shadow: 10px 10px #C4B7AF;
  height: 334.5px;
  width: 334.5px;
}

.h1title {
  font-size: 75px;
  color: #323232;
  text-shadow: 5px 5px white;
  animation: fade-effect 1s;
  }

.blinkingcursor {
  font-size: 75px;
  color: #323232;
  text-shadow: 5px 5px white;
  animation: cursor-blink 1.5s infinite steps(2);
}
  
  h2 {
    font-size: 50px;
    line-height: 0px;
    color: #323232;
  }
  
  .h3desc {
    font-size: 20px;
    color: #323232;
  }
  
  @keyframes fade-effect {
  
    0% {
      text-shadow: 0px 0px #DDD0C8;
    }
    100% {
      text-shadow: 5px 5px white;
    }
  }
  
  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }

.contactbtn {
border:none;
font-size: 15px;
background-color: white;
padding: 5px 5px 5px 5px;
box-shadow: 2.5px 2.5px #AB9E96;
cursor: pointer;
}
.contactbtn:hover {
  background-color: white;
  box-shadow: 2.5px 2.5px salmon;
}

.codebtn {
  border:none;
  font-size: 15px;
  background-color: white;
  padding: 5px 5px 5px 5px;
  box-shadow: 2.5px 2.5px #AB9E96;
  cursor: pointer;
  }

  .codebtn:hover {
    background-color: white;
    box-shadow: 2.5px 2.5px #88B2CC;
  }


.portfoliocards {
  float: left;
  background-color: #C4B7AF;
  width: 100%;
}

.portfoliocardsimage {
  float: left;
  overflow: hidden;
  height: 222px;
  width: 100%;
  padding: 15px;
  background-color: #323232;
}

.description {
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  max-height: 250px;
  max-width: 600px;
  } 

.h3cards {
  border: none;
  background-color: #C4B7AF;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  /*color: #323232;*/
  color: #323232;
}

.cardsoutline {
  font-size: 20px;
  text-align: center;
  float: right;
  margin-right: 10px;
  border:none;
  /*background-color: #323232;*/
  background-color: salmon;
  color: white;
}

.notbold {
    font-weight:normal;
}
